# Пример файла .env с Docker переменными окружения для контейнера
# Используется при запуске приложения в Docker с подключением к удаленным БД

# MongoDB Configuration для подключения к БД из контейнера
MONGODBSETTINGS__CONNECTIONSTRING=
MONGODBSETTINGS__DATABASENAME=

# MongoDB Collections
MONGODBSETTINGS__COLLECTIONS__PLACES=
MONGODBSETTINGS__COLLECTIONS__CITIES=
MONGODBSETTINGS__COLLECTIONS__PROVINCES=
MONGODBSETTINGS__COLLECTIONS__TAGS=
MONGODBSETTINGS__COLLECTIONS__IMAGES=

# PostgreSQL Configuration для подключения к БД из контейнера
CONNECTIONSTRINGS__POSTGRESQL=

# Superadmin settings
SUPERADMIN_USERNAME=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=


# API Configuration
API_SECRET_KEY=
APISETTINGS__SECRET=

# MinIO Configuration 
MINIOSETTINGS__ENDPOINT=
MINIOSETTINGS__ACCESSKEY=
MINIOSETTINGS__SECRETKEY=
MINIOSETTINGS__BUCKETNAME=
# MINIOSETTINGS__USESSL=false
MINIOSETTINGS__USESSL=true

# Docker Environment Configuration
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=
ASPNETCORE_HTTPS_PORT=

# Настройки для статических файлов
STATICFILES__IMAGESPATH=
