**/bin/
**/obj/
**/.vs/
**/.vscode/
**/HiddenFiles/
**/wwwroot/images/Guanacaste/
**/wwwroot/images/Negros/
**/wwwroot/images/string/
*.user
*.md
Dockerfile
docker-compose*
.git
.gitignore
*.suo
*.DS_Store
*.log
*.swp